.btn {
    padding: 10px 70px;
    border-radius: 50px;
    transition: .3s;
    color: white;
    background: none;
    margin-top: 30px;
    font-size: 15pt;
    cursor: pointer;
    display: block;
    margin-bottom: 20px;
    background: #009cff;
    border: #009cff solid 1px;
}

.btn:hover {    
    background: #00bcd4;
    border-color: #00bcd4;
    transition: .3s;
    color: white;
    text-decoration: none;
}

.btn:active {
    background: rgb(4, 86, 95);
    border-color: rgb(4, 86, 95);
    transition: 0s;
    color: white;
    text-decoration: none;
}

.sm {
    padding: 5px 20px;
    font-size: 12pt;
    text-align: center;
}
