.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .content {
        min-height: 500px;
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        
        .header, .auth {
            display: flex;
            justify-content: center;
            flex: 1;
        }
        
        .header {
            padding-top: 120px;
        }

        .auth {
            padding-top: 80px;
        }
    }
}