.container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    min-width: 300px;

    @media screen and (max-width: 400px) {
        padding: 20px;
    }

    .top {
        display: flex;
        width: 98%;
        border-bottom: 1px solid #D8D8D8;

        @media screen and (max-width: 400px) {
            justify-content: center;
        }

        img {
            height: 210px;
            margin: 30px;
            margin-top: 30px;
            margin-left: 20px;
            
            @media screen and (max-width: 400px) {
                height: 135px;
            }
        }

        .title {  
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 70pt;
                line-height: 0px;
                color: #848484;
                font-weight: 300;

                @media screen and (max-width: 400px) {
                    font-size: 55pt;
                }
            }
        }
    }

    .middle {
        p {
            font-weight: 300;
            padding-left: 20px;
        }
    }

    .bottom {
        display: flex;
        align-items: center;

        img {
            margin: 20px;
            height: 20px;
            margin-right: 0;
        }
    }
}